
/* ========================================================
   0A.BASIC_STYLES-MOBILE
=========================================================== */
html, body {
	height: 100%;
}

html, hmtl a{
	width:100%;
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}
body{
	background:#FFF;
	color:#7F8289;
	font-weight:300;
	font-family: 'Lato', sans-serif;
	font-size:1em;
	line-height:28px;
}

/* ========================================================
   0B.TYPOGRAPHY-MOBILE
=========================================================== */
h1,h2,h3,h4,h5,h6,p,a,input, textarea{
	font-family: 'Lato', sans-serif;
	font-size:18px;
	font-weight: 300; 
	line-height: 1.2em;
	text-align:center;
	vertical-align:middle;
	/*color:#FFF;*/
	color: #000;
	text-decoration: none;
}
h1{
	font-size:22px;
}
h2{
	font-size:20px;
}
h3{
	font-size:18px;
}
h4{
	font-size:16px;
}
h5{
	font-size:14px;
}
h6{
	font-size:12px;
}
p{
	font-size:18px;
}
a{
	text-align: center!important;
}
a:hover{

	color:rgb(237,45,58) !important;
	text-decoration:none;
}
hr{
	font-weight: 700;
	height:20px;
	width:50%;
}
input, textarea{
	font-size:16px!important;
}
/* =======================================================
   1.BASIC COMMON STYLES-MOBILE
========================================================== */
.text-white{
	color:rgb(255,255,255) !important;
}
.text-white-hover{
	color:rgb(255,255,255) !important;
}
.text-white-hover:hover{
	color:rgb(237,45,58) !important;
}
.text-red{
	color:rgb(237,45,58)!important;
}
.text-black-redhover{
	color:rgb(0,0,0);
}
.text-black-redhover:hover{
	color:rgb(237,45,58);
}
.text-bold{
	font-weight: 400;
}
.text-bolder{
	font-weight: 700;
}
.text-opaque{
	opacity: 0.9;
}
.text-upper{
	text-transform:uppercase;
}
.text-bigger{
	font-size:40px;
}
.text-biggest{
	font-size:200px;
}
.text-center{
	margin:0 auto;
	text-align: center !important;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:center;
}
.line-gray{
	border-top: 1px solid #404040;
}
.bg-red{
	background-color: rgb(237,45,58);
}
.bg-gray{
	background-color: rgb(244,244,244);
	transition:all 0.5s ease-in-out;
}
.bg-gray:hover{
	transition:all 0.5s ease-in-out;
	background-color: rgb(255,255,255);
}
.spacing-top{
	margin-top:10px;
}
.spacing-top-1{
	margin-top:1%;
}
.spacing-top-3{
	margin-top:3%;
}
.spacing-top-5{
	margin-top:5%;
}
.form-control{
	height:40px;
	font-size:28px;
}
.padding-3{
	margin-top: 3%;
}
.padding-10{
	margin-top: 25%;
}
.padding-20{
	margin-top: 20%;
}

.padding-all-5{
	padding:1%;
}
.margin-right-40{
	margin-right: 5px;
}
.margin-top-mobile{
	margin-top: 15px;
}
.form-control-half{
	display: inline;
	width:80%;
	height:40px;
	font-size:20px;
}
.form-square{
	-webkit-border-radius: 0 !important;
	 -moz-border-radius: 0 !important;
		  border-radius: 0 !important;
}
.form-rounded-2{
	-webkit-border-radius: 2px !important;
	 -moz-border-radius: 2px !important;
		  border-radius: 2px !important;
}
.opacity-50{
	border-opacity:0.9;
}
.center-box{
	margin:0 auto;
}
.btn-gray{
	background-color: #232323!important;
	border-color:#232323!important;
	color:#FFF;
	text-align: middle;

}
.btn-gray:hover{
	background-color:rgb(237,45,58)!important;
	border-color:rgb(237,45,58)!important;
	color:#FFF;
}
.btn-red{
	background-color:rgb(237,45,58);
	border-color:rgb(237,45,58);
	color:#FFF;
}
.btn-red:hover{
	background-color:rgb(220,220,220);
	border-color:rgb(220,220,220);
	color:rgb(204,51,51);
}
.hr-80{
	width:80%;
}
.img-40{
	width:40%;
	height:40%;
}
.img-15{
	width:40%;
	height:40%;
}
.mobile-hidden{
	display: none;
}
.img-mobile{
	width:40%;
	height: 40%;
}
.center-img{
	margin:0 auto;
}
/* =======================================================
   2.NAVIGATION-MOBILE
========================================================== */
.navbar-fixed-bottom{
	top:0;
	bottom:auto;
	position: absolute;
}
.navbar {
	margin-bottom:0;
	background-color:#232323;
	border-color:#232323;
	border-bottom: #232323;
	margin:0 auto;
	color:#FFF;
	text-align: center!important;
    /* Firefox */
    -moz-transition: all 0.5s ease-in;
    /* WebKit */
    -webkit-transition: all 0.5s ease-in;
    /* Opera */
    -o-transition: all 0.5s ease-in;
    /* Standard */
    transition: all 0.5s ease-in;

}
.navbar-inverse{
	border-bottom: #232323!important;
}
.nav{
	width:100%;
	color:#000;
	text-align: center!important;
	/*background-color:#3FC;*/
}
.nav li{
	margin-left:8%;
	width:95%;
	text-align: center!important;
	overflow:hidden;
	color:#FFF;
	/*background-color:#3FC;*/
}
.navbar .nav > li > a {
    color:  #FFF;
}
.navbar .nav > li > a:hover {
    color:  #FFF;
}
.hidden-login{
	z-index:99;
	position: relative;
	opacity: 1;
	display:none;
	transition:all 0.5s ease-in-out;
}
.visible-login{
	display: block;
	z-index:5;
	position: relative;
	opacity: 1;
	transition:all 0.8s ease-in-out;
}
#epicHidden{
	 /* Firefox */
    -moz-transition: all 0.8s ease-in;
    /* WebKit */
    -webkit-transition: all 0.8s ease-in;
    /* Opera */
    -o-transition: all 0.8s ease-in;
    /* Standard */
    transition: all 0.8s ease-in;
}

/* =======================================================
   3.HOME_PAGE-MOBILE
========================================================== */
#home-page {
	position: relative;
	overflow: visible;
	margin-top:0;
	height: 100%;
}
#home-page .screen {
	width:100%;
	height:100%;
	position: absolute;
	background: url(../images/projectpitchcohort.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#home-page .logoImg {
	margin-top:35%;
	margin-left:auto;
	margin-right:auto;
	width: 60%;
	z-index: 2;	
	/*background-color:#0FF;*/
}
#home-page .logoTxt {
	margin-top:5%;
	margin-left:auto;	
	margin-right:auto;
	width: 90%;
	z-index: 2;	
	/*background-color:#3df;*/
}
/* =======================================================
   3.MISSION_PAGE-MOBILE
========================================================== */
.mission-page {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:1.5%;
	padding-bottom:0;
	position: relative;
	z-index: 8;
	overflow:hidden;	
	background-color:#FFF;
}
.mission-page .mission-wrapper {
	width:85%;
	margin:auto;
	overflow:hidden;
	margin-top:1%;
	/*background-color:#3FC;*/
}
.video-box{
	width:300px;
	margin:0 auto;
}
#check-Sub{
	display: none;
}
/* =======================================================
   4.PROJECT_PAGE-MOBILE
========================================================== */
.project-page {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:1.5%;
	padding-bottom:0%;
	position: relative;
	z-index: 8;
	overflow:hidden;	
	background-color:#FFF;
}
.project-page .project-wrapper {
	width:85%;
	margin:auto;
	overflow:hidden;
	margin-top:1%;
	/*background-color:#3FC;*/
}
/* =======================================================
   6.EVENTS-MOBILE
========================================================== */
.events-page {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:1.5%;
	padding-bottom:0%;
	position: relative;
	z-index: 8;
	overflow:hidden;	
	background-color:#FFF;
}
.events-page .events-wrapper {
	width:85%;
	margin:auto;
	overflow:hidden;
	margin-top:0.5%;
	/*background-color:#3FC;*/
}
.events-box{
	width:90%;
	overflow-y: scroll!important;
	overflow-x:hidden;
	height:300px;
	margin-right: auto;
	margin-left: auto;
	/*background-color: #3df;*/
}  
/* =======================================================
   7.BLOG-MOBILE
========================================================== */
.speaker-page {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:1.5%;
	padding-bottom:0%;
	position: relative;
	z-index: 8;
	overflow:hidden;	
	background-color:#FFF;
}
.speaker-page .speaker-wrapper {
	width:99%;
	margin:auto;
	overflow:hidden;
	margin-top:1%;
	/*background-color:#3FC;*/
}
/* =======================================================
   8.CONTACT-MOBILE
========================================================== */
.contact-page {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:1.5%;
	padding-bottom:0.5%;
	position: relative;
	z-index: 8;
	overflow:hidden;	
	background-color:#FFF;
}
.contact-page .contact-wrapper {
	width:85%;
	margin:auto;
	overflow:hidden;
	margin-top:0.5%;
	/*background-color:#3FC;*/
}
/* =======================================================
   9.FOOTER-MOBILE
========================================================== */
.footer-pg{
	overflow: hidden;
	padding-top:2%;
	background-color:#232323;
}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 481px) {

}
/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

/* ========================================================
   0A.BASIC_STYLES-DESKTOP
=========================================================== */
html, body {
	height: 100%;
}

html, hmtl a{
	width:100%;
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}
body{
	background:#FFF;
	color:#7F8289;
	font-weight:300;
	font-family: 'Lato', sans-serif;
	font-size:1em;
	line-height:28px;

}
/* ========================================================
   0B.TYPOGRAPHY-DESKTOP
=========================================================== */
h1,h2,h3,h4,h5,h6,p,a,input, textarea{
	font-family: 'Lato', sans-serif;
	font-size:20px;
	font-weight: 300; 
	line-height: 1.5em;
	text-align:center;
	vertical-align:middle;
	/*color:#FFF;*/
	color: #000;
	text-decoration: none;
}
h1{
	font-size:55px;
}
h2{
	font-size:34px;
}
h3{
	font-size:22px;
}
h4{
	font-size:20px;
}
h5{
	font-size:18px;
}
h6{
	font-size:16px;
}
p{
	font-size:20px;
}
a:hover{
	color:rgb(237,45,58) !important;
	text-decoration:none;
}
hr{
	font-weight: 700;
	height:20px;
	width:50%;
}
input, textarea{
	font-size:16px !important;
}
/* =======================================================
   1.BASIC COMMON STYLES-DESKTOP
========================================================== */
.text-white{
	color:rgb(255,255,255) !important;
}
.text-white-hover{
	color:rgb(255,255,255) !important;
}
.text-white-hover:hover{
	color:rgb(237,45,58) !important;
}
.text-red{
	color:rgb(237,45,58)!important;
}
.text-black-redhover{
	color:rgb(0,0,0);
}
.text-black-redhover:hover{
	color:rgb(237,45,58);
}
.text-bold{
	font-weight: 400;
}
.text-bolder{
	font-weight: 700;
}
.text-opaque{
	opacity: 0.9;
}
.text-upper{
	text-transform:uppercase;
}
.text-bigger{
	font-size:40px;
}
.text-biggest{
	font-size:200px;
}
.text-center{
	margin:0 auto;
	text-align: center !important;
}
.text-left{
	text-align:left !important;
	margin: 0 auto;
}
.text-right{
	text-align:right;
}
.line-gray{
	border-top: 1px solid #404040;
}
.bg-red{
	background-color: rgb(237,45,58);
}
.bg-gray{
	background-color: rgb(244,244,244);
	transition:all 0.5s ease-in-out;
}
.bg-gray:hover{
	transition:all 0.5s ease-in-out;
	background-color: rgb(255,255,255);
}
.spacing-top{
	margin-top:10px;
}
.spacing-top-1{
	margin-top:1%;
}
.spacing-top-3{
	margin-top:3%;
}
.spacing-top-5{
	margin-top:5%;
}
.form-control{
	text-align: center;
	height:40px;
	font-size:28px;
}
.padding-3{
	margin-top: 3%;
}
.padding-10{
	margin-top: 25%;
}
.padding-20{
	margin-top: 20%;
}
.padding-1{
	padding-top: 1%;
}
.padding-all-5{
	padding:1%;
}
.margin-top-mobile{
	margin-top: 0px;
}
.margin-right-40{
	margin-right: 40px;
}
.form-control-half{
	width:80%;
	height:40px;
	font-size:20px;
}
.form-square{
	-webkit-border-radius: 0 !important;
	 -moz-border-radius: 0 !important;
		  border-radius: 0 !important;
}
.form-rounded-2{
	-webkit-border-radius: 2px !important;
	 -moz-border-radius: 2px !important;
		  border-radius: 2px !important;
}
.opacity-50{
	border-opacity:0.9;
}
.center-box{
	margin:0 auto;
}
.btn-gray{
	background-color: #232323!important;
	border-color:#232323!important;
	color:#FFF;
	text-align: middle;

}
.btn-gray:hover{
	background-color:rgb(237,45,58)!important;
	border-color:rgb(237,45,58)!important;
	color:#FFF;
}
.btn-red{
	background-color:rgb(237,45,58);
	border-color:rgb(237,45,58);
	color:#FFF;
}
.btn-red:hover{
	background-color:rgb(220,220,220);
	border-color:rgb(220,220,220);
	color:rgb(204,51,51);
}
.hr-80{
	width:80%;
}
.img-40{
	width:40%;
	height:40%;
}
.img-15{
	width:15%;
	height:15%;
}
.iframe-vid{
	margin:0 auto;
	text-align: right;
}
.img-mobile{
	width:80%;
	height:80%;
}
.mobile-hidden{
	display: block;
}
.text-small{
	font-size: 18px;
}
/* =======================================================
   2.NAVIGATION-DESKTOP
========================================================== */
.navbar-fixed-bottom{
	top:auto;
	bottom:0;
	position: absolute;
}
.navbar {
	margin-bottom:0;
	background-color:#FFF;
	border-color:#232323;
	border-bottom: #232323!important;

	color:#000;
	/* Firefox */
    -moz-transition: all 0.5s ease-in;
    /* WebKit */
    -webkit-transition: all 0.5s ease-in;
    /* Opera */
    -o-transition: all 0.5s ease-in;
    /* Standard */
    transition: all 0.5s ease-in;

}
.navbar-inverse{
	border-bottom: #232323!important;
}
.nav{
	width:100%;
	color:#000;
	/*background-color:#3FC;*/
}
.nav li{
	margin-left:0.1%;
	margin-right:0.1%;
	width:18.2%;
	overflow:hidden;
	color:#FFF;
	/*backgroun#d-color:#3FC;*/
	left: 20px;
}
.navbar .nav > li > a {
    color:  #232323;
}
.navbar .nav > li > a:hover {
    color:  #353535;
}
#exploreEpic{
	width:22.4%;
}
.hidden-login{
	z-index:99;
	position: relative;
	opacity: 1;
	display:none;
	transition:all 0.5s ease-in-out;
}
.visible-login{
	display: block;
	z-index:5;
	position: relative;
	opacity: 1;
	transition:all 0.8s ease-in-out;
}
#epicHidden{
	 /* Firefox */
    -moz-transition: all 0.8s ease-in;
    /* WebKit */
    -webkit-transition: all 0.8s ease-in;
    /* Opera */
    -o-transition: all 0.8s ease-in;
    /* Standard */
    transition: all 0.8s ease-in;
}
#ppHidden{
	left:100px;
}
/* =======================================================
   3.HOME_PAGE-DESKTOP
========================================================== */
#home-page {
	position: relative;
	overflow: visible;
	margin-top:0;
	height: 100%;
}
#home-page .screen {
	width:100%;
	height:100%;
	position: absolute;
	background: url(../images/projectpitchcohort.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#home-page .logoImg {
	margin-top:12%;
	margin-left:auto;
	margin-right:auto;
	width: 40%;
	height:30%;
	z-index: 2;	
	/*background-color:#0FF;*/
}
#home-page .logoTxt {
	margin-top:5%;
	margin-left:auto;	
	margin-right:auto;
	width: 90%;
	z-index: 2;	
	/*background-color:#3df;*/
}
/* =======================================================
   3.MISSION_PAGE-DESKTOP
========================================================== */
.mission-page {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:6%;
	padding-bottom:0;
	position: relative;
	overflow:hidden;	
	background-color:#FFF;
}

.mission-page .mission-wrapper {
	width:99%;
	margin:auto;
	overflow:hidden;
	margin-top:1%;
	/*background-color:#3FC;*/
}

.imgWrap{
	position: relative;
	overflow: auto;
	float: left;
	padding-right: 15%;
	padding-left:29%;
}

.imgWrap li{
	list-style: none;
}

.imgWrap ul li{
	float: left;
}

.imgWrap ul .slide{
	width: 75%;
	overflow: hidden;
}


#fphoto{
	border: 2px solid black;
}



.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}

.dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid rgb(237,45,58);
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  background: rgba(255,255,255,.4);
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}

.dots li.active {
  background: rgb(237,45,58);
  opacity: 1;
}

.ppDescription{	
	clear:both;
	float: left;
}

.float-left{
	float: left;
}
.float-right{
	float: right;
}
#check-Sub{
	display: none;
}
/* =======================================================
   4.PROJECT_PAGE-DESKTOP
========================================================== */
.project-page {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:6%;
	padding-bottom:2%;
	position: relative;
	z-index: 8;
	overflow:hidden;	
	background-color:#FFF;
}
.project-page .project-wrapper {
	width:99%;
	margin:auto;
	overflow:hidden;
	margin-top:1%;
	/*background-color:#3FC;*/
}
.rule-1{
	background: url(../images/rules1.jpg) no-repeat;
	background-size:100%;
}
.rule-2{
	background: url(../images/rules2.jpg) no-repeat;
	background-size:100%;
}
.rule-3{
	background: url(../images/rules3.jpg) no-repeat;
	background-size:100%;
}
/* =======================================================
   5.FAQ-DESKTOP
========================================================== */
.faq-page {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:3%;
	padding-bottom:0%;
	position: relative;
	z-index: 8;
	overflow:hidden;	
	background-color:#FFF;
}
.faq-page .faq-wrapper {
	width:99%;
	margin:auto;
	overflow:hidden;
	margin-top:1%;
	/*background-color:#3FC;*/
}
#faqs h4	{ cursor:pointer; }
#faqs h4.active	{ color:#d74646; }
#faqs div { height:0; overflow:hidden; position:relative; }
#faqs div p	{ padding:0; margin-bottom:15px; }
/* =======================================================
   6.INFO_SESSION-DESKTOP
========================================================== */

.calendar {
	width: 350px;
    height: 350px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
    border: 15px solid rgba(237,45,58,.9);
    border-top: 80px solid rgba(237,45,58,.9);
    background-color: white;
    padding-top: 10px;
}


/* =======================================================
   7.PROGRAM-DESKTOP
========================================================== */
.events-page {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:3%;
	padding-bottom:0%;
	position: relative;
	z-index: 8;
	overflow:hidden;	
	background-color:#FFF;
}
.events-page .events-wrapper {
	width:99%;
	margin:auto;
	overflow:hidden;
	margin-top:1%;
	/*background-color:#3FC;*/
}
.events-box{
	width:70%;
	overflow-y: scroll!important;
	overflow-x:hidden;
	height:500px;
	margin-right: auto;
	margin-left: auto;
	/*background-color: #3df;*/
}  
/* =======================================================
   8.BLOG-DESKTOP
========================================================== */
.speaker-page {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:3%;
	padding-bottom:0%;
	position: relative;
	z-index: 8;
	overflow:hidden;	
	background-color:#FFF;
}
.speaker-page .speaker-wrapper {
	width:99%;
	margin:auto;
	overflow:hidden;
	margin-top:1%;
	/*background-color:#3FC;*/
}
/* =======================================================
   9.CONTACT-DESKTOP
========================================================== */
.contact-page {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:6%;
	padding-bottom:4%;
	position: relative;
	z-index: 8;
	overflow:hidden;	
	background-color:#FFF;
}
.contact-page .contact-wrapper {
	width:99%;
	margin:auto;
	overflow:hidden;
	margin-top:1%;
	/*background-color:#3FC;*/
}
/* =======================================================
   10.FOOTER-DESKTOP
========================================================== */
.footer-pg{
	overflow: hidden;
	padding-top:2%;
	background-color:#232323;
}
